* {
  margin: 0;
  padding: 0;
}

/* Shared Item */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.hide {
  display: none;
}

.primary-color {
  color: #E95A08;
}

.btn-primary {
  background-color: #E95A08;
  padding: 19px 80px;
  border: none;
  color: white;
  font-weight: 600;
}

.noto-serif-primary {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #F5F8FF;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  max-width: 1140px;
  margin: 30px auto 0px auto;
}

/* Nav Section */
nav {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

nav>img {
  width: 100%;
}

nav>ul {
  display: flex;
  align-items: center;
  gap: 48px;
  list-style: none;
}

nav>ul>li {
  font-size: 1rem;
  font-weight: 400;
}

#list1 {
  font-weight: 800;
}

.common-list {
  color: #8987A1;
}

/* banner section */
.banner {
  max-width: 1140px;
  margin: 120px auto;
  display: flex;
}

.banner-image {
  width: 570px;
  flex-shrink: 0;
}

.banner-image>img {
  display: block;
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.banner-content > h1 {
  font-size: 4rem;
  font-weight: 800;
}

.banner-content > p {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  max-width: 570px;
}

/* plants section */
.plants-section {
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.plants-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plants-content h1 {
  font-size: 3.1rem;
}

.plants-content p {
  max-width: 888px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #8987A1;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-image > img {
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-content > button {
  width: 100%;
}

/* plants lover section */
.plants-lover-section {
  max-width: 1140px;
  margin: 210px auto 0 auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.plants-lover-content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.plants-lover-content h1 {
  font-size: 3.1rem;
  font-weight: 800;
}

.plants-lover-content li {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.plants-lover-image {
  position: relative;
}

.main-image {
  width: 540px;
}

.main-image > img {
  width: 100%;
}

.badge-image {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -125px;
  left: 360px;
}

.badge-image > img {
  width: 100%;
}

@media screen and (max-width: 576px) {

  /* shared item */
  .btn-primary {
    padding: 19px 30px;
  }

  /* banner section */
  .banner {
    flex-direction: column-reverse;
    gap: 28px;
    margin: 28px auto;
  }

  .banner h1 {
    font-size: 1.5rem;
  }

  .banner p {
    max-width: 100%;
    font-size: 0.8rem;
  }

  .banner-image {
    width: 100vw;
  }

  .banner-content {
    width: 100vw;
    gap: 13px;
  }

  #list1,
  .common-list {
    display: none;
  }

  .header {
    max-width: 362px;
    margin: 13px 16px;
  }

  /* plants section */
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .plants-section h1 {
    font-size: 1.5rem;
  }

  .plants-section p {
    font-size: 0.8rem;
  }

  .cards-container {
    margin: 28px 14px;
  }

  /* plants lover section */
  .badge-image {
    display: none;
  }

  .plants-lover-section {
    margin: 40px;
    flex-direction: column;
    gap: 16px;
  }

  .main-image {
    max-width: 358px;
  }

  .plants-lover-content h1 {
    font-size: 1.5rem;
  }

  .plants-lover-content li {
    font-size: 0.875rem;
  }

  .plants-lover-content br {
    display: none;
  }

}